/**media-screen**/

@media screen and (max-width:991px){
    
    

     
}
@media screen and (max-width:767px){
   

}
@media screen and (max-width:479px){
.intro 
{
    top:1%;!important;
    margin:0px auto;
    width: 300px;
    text-align: center;
}

.intro h1
    {
        font-size: 16px;
    }
.button-awesome
    {
        margin-top: 1%;
    }
    .hero{
    margin: 0px;
    
}
}
@media screen and (max-width:50px){
 .intro
{
    padding-top:0px;
}
 .hero{
    margin: 0px;
    
}
h1
    {
        font-size: 16px;
    }
    .button-awesome
    {
        margin-top: 5px;
    }
}

 /**<------------------------------------------------------------------------------------->**/ 

*
{
    margin:0px;
    padding:0px;
    
}


.row{
    max-width: 1140px;
    margin:0 auto;
}

body{
    font-family:tahoma;
    margin:0px;
    padding:0px;
}
.hero{
    margin-bottom: 50px;
    
}

 .intro
{
    padding-top:150px;
}

.header
{
    background-image:url("http://res.cloudinary.com/dgezrstzt/image/upload/v1502517440/hotel-compressed_ny64oq.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 450px;
}
h1
{
  
    color:white;
}
.navbar-custom
{
    background: transparent;
}

.icon-bar
{
    
    background-color: orange;
}
.navbar-custom .navbar-nav li a:hover
{
    background: transparent;
    color:orange;
}

.navbar-custom .navbar-nav li a
{
    color:white;
}

.navbar-brand
{
    color:white;
}

.navbar-brand:hover
{
    color:orange;
}

.btn
{
    border: 1px solid #e67e22;
    padding: 10px 30px;
    color: #e67e22;
    border-radius: 12px;
    margin-right: 15px;
    text-decoration: none;
}

.button-awesome
{
    margin-top: 40px;
}
.btn-half
{
    background-color: #e67e22;
    color:white;
}

.btn-full:hover
{
    background-color: orange;
    color: white;
    transition: all 0.5s ease-in;
    
}

.copy
{
    width:70%;
    margin-left: 15%;
    margin-bottom: 20px;
}

h3:after
{
    width: 100px;
    height: 2px;
    background-color: orange;
    display:block;
    content:"";
    margin: 0 auto;
    margin-top: 30px;
}

#features h3
{
    margin-top: 80px;
    margin-bottom: 30px;
}

.arrange
{
    text-align: justify;
    
}

#features i
{
    font-size: 40px;
    color:orange;
    margin-left: 35%;
    text-align: center;
}

#features h4
{
    margin-left: 40px;
    
}

.meal-showcase
{
    list-style-type: none;
    width: 100%;
}
.meal-showcase li
{
    display:block;
    width:25%;
    float:left;
}
.meal-photo
{
    width:100%;
    image-orientation: cover;
    margin:0;
    overflow: hidden;
}

.meal-photo img
{
    width:100%;
    height:auto;
    transform: scale(1.15);
    transition: all 0.5s;
}

.meal-photo img:hover
{
     transform: scale(1.05);
}

.meal
{
    margin-top: 80px;
}
.pic img
{
    width:40%;
    margin-left: 50%;
    margin-top: 10px;
}

.works-step
{
    margin-top: 55px;
    
}

.works-step div
{
    border: 1px solid orange;
    display: inline-block;
    border-radius:50%;
    width:30px;
    height:30px;
    text-align: center;
    line-height: 30px;
    color:white;
    background-color: orange;
    
    
}

.works-step img
{
    height:40px;
    margin-top: 20px;
    margin-right: 20px;
}

.clearfix
{
    zoom:1;
}

.clearfix:after
{
    visibility:hidden;
    content:".";
    height: 0;
    display: block;
    clear:both;
}

#mobile
{
    margin-top: 60px;
}

#cities
{
    margin-top: 100px;
    
}

#cities img
{
    width:100%;
    margin-top: 50px;
}

#cities i
{
    color:orange;
}

#testimonials
{
    margin-top: 80px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(hotel.jpg);
    padding-top: 80px;
    padding-bottom: 60px;
    color:white;
    background-attachment: fixed;
    
}

#testimonials p
{
    color:white;
    line-height:25px;
    text-align: justify;
    margin-top: 40px;
}
#testimonials cite img
{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-right: 20px;
}

.btn-block
{
    background-color:orange;
    color:white;
    border-radius: 4px;
    margin-top: 20px;
}

.gap
{
    margin-top: 40px;
}

.form 
{
  margin-top: 40px;  
}

.footer
{
    height:40px;
    width:100%;
    margin-top: 10px;
}

.footer .content
{
   padding-bottom: 25px;
    color: orange;
    
}

.footer .fa
{
    color:orange;
    font-size: 28px;
    margin-right: 12px;
    text-decoration: none;
}